h1 {
    color: rgb(71, 40, 4);
    text-align: center;
}
h2 {
    color: rgb(71, 40, 4);
}
body {
    background-color:tan;
    font-size: 18px;
    color: rgb(41, 26, 7);
}
img {
    height: 400px;
    width: 800px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#step {
    text-align: left;
}